numpy==1.16.*
# Database
psycopg2==2.8.*
mysql-connector==2.2.*
pony==0.7.*
# PyQt5
pyqt5==5.12.2
pyQt5-sip==4.19.*
pyqt5-stubs==5.12.1.0
# Image processing
imageio==2.5.*
opencv-python==4.1.*
pillow-simd==5.3.*
pyperclip==1.7.*