numpy==1.18.*
# Database
psycopg2==2.8.*
mysql-connector==2.2.*
pony==0.7.*
# PyQt5
pyqt5==5.13.0
pyQt5-sip==4.19.*
pyqt5-stubs==5.12.1.0
# Image processing
imageio==2.5.*
opencv-python==4.4.*
pillow-simd==6.0.*